# Local Government Area School Data Analysis
#### Made by Lucas Ulbrich on the 09th of January 2024

## Summary

This Dataset analises all schools and all students within the Local Government Area (LGA). It will firstly summarise the entire dataset which will show that we are spending nearly $25M on 39,107 students. Hopefully by using this data analysis, we can better alocate funding and resources to schools within the LGA.

From this dataset, we can see that the lowest performing schools in the LGA have a medium (1000-2000) student population, and/or have a medium budget per student ($585-645). A School being government run or independently run has little effect on the performance.

In [17]:
# Dependencies and Setup
import pandas as pd
import numpy as np
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

# Summary of school data over the entire Local Government Area

In [15]:
# Creating lists with data that doesn't need extensive calculations
total_schools = len(school_data["School ID"])
total_students = len(school_data_complete["Student ID"])
total_budget = school_data["budget"].sum()
average_math_scores = school_data_complete["maths_score"].mean()
average_reading_scores = school_data_complete["reading_score"].mean()

# The two lines below first finds the total number below 50 and then finds the percentage of the total amount
passing_math = len(school_data_complete[school_data_complete["maths_score"] > 50])/len(school_data_complete["maths_score"])*100
passing_reading = len(school_data_complete[school_data_complete["reading_score"] > 50])/len(school_data_complete["reading_score"])*100

# Creating the LGA_summary df
LGA_summary = pd.DataFrame({"Total Schools" : [total_schools], "Total Students" : [total_students], "Total Budget" : [total_budget],
                            "Average Math Scores" : [average_math_scores], "Average Reading Scores" : [average_reading_scores],
                            "% Passing Maths" : [passing_math], "% Passing Reading" : [passing_reading]})

# This block of code formats each number 
LGA_summary["Total Students"] = LGA_summary["Total Students"].map("{:,.0f}".format)
LGA_summary["Total Budget"] = LGA_summary["Total Budget"].map("{:,.0f}".format)
LGA_summary["Average Math Scores"] = LGA_summary["Average Math Scores"].map("{:,.2f}".format)
LGA_summary["Average Reading Scores"] = LGA_summary["Average Reading Scores"].map("{:,.2f}".format)
LGA_summary["% Passing Maths"] = LGA_summary["% Passing Maths"].map("{:,.2f} %".format)
LGA_summary["% Passing Reading"] = LGA_summary["% Passing Reading"].map("{:,.2f} %".format)

LGA_summary

,Total Schools,Total Students,Total Budget,Average Math Scores,Average Reading Scores,% Passing Maths,% Passing Reading
0,15,"39,170","24,649,428",70.34,69.98,84.43 %,82.64 %

# Summary of school data by School

In [16]:
# Creating an empty dataframe to put all the values in
school_summary_df = pd.DataFrame({"School Name" : [], "School Type" : [], "Total Students" : [], "Total School Budget" : [],
                                  "Per Student Budget" : [], "Average Maths Score" : [],
                                  "Average Reading Score" : [], "% Passing Maths" : [], "% Passing Reading" : [],
                                  "% Overall Passing" : []})

# This section allocates all of the columns in school_summary_df that don't need extensive calculations
school_summary_df["School Name"] = school_data["school_name"]
school_summary_df["School Type"] = school_data["type"]
school_summary_df["Total Students"] = school_data["size"]
school_summary_df["Total School Budget"] = school_data["budget"]
school_summary_df["Per Student Budget"] = school_summary_df["Total School Budget"]/school_summary_df["Total Students"]
school_summary_df["Average Maths Score"] = school_data_complete["maths_score"]
school_summary_df["Average Reading Score"] = school_data_complete["reading_score"]

# Created a new dataframe which sorts by school_name to find values above 50
school_sorted_name = school_data_complete.sort_values(by="school_name")

# The next four lines apply a lambda function to the school_sorted_name dataframe which counts each row above 50, finds the average of that calculation,
# and then multiplies by 100 to get the percentage
school_passing_maths = school_sorted_name.groupby("school_name")["maths_score"].apply(lambda x: (x > 50).mean() * 100).reset_index()
school_summary_df["% Passing Maths"] = school_passing_maths["maths_score"]

school_passing_reading = school_sorted_name.groupby("school_name")["reading_score"].apply(lambda x: (x > 50).mean() * 100).reset_index()
school_summary_df["% Passing Reading"] = school_passing_reading["reading_score"]

# This section creates a new column in the school_sorted_name dataframe which then performs the same function as the above section using .gt to get vales greater than 50
school_overall_passing = school_sorted_name.assign(overall_score = school_sorted_name[["maths_score", "reading_score"]]
                                                   .gt(50).mean(axis=1) * 100).groupby("school_name")["overall_score"].mean().reset_index()
school_summary_df["% Overall Passing"] = school_overall_passing["overall_score"]

# This section formats numbers over 100 and percentages for readability
school_summary_df["Total Students"] = school_summary_df["Total Students"].map("{:,.0f}".format)
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("{:,.0f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"].map("{:,.0f}".format)
school_summary_df["% Passing Maths"] = school_summary_df["% Passing Maths"].map("{:,.2f} %".format)
school_summary_df["% Passing Reading"] = school_summary_df["% Passing Reading"].map("{:,.2f} %".format)
school_summary_df["% Overall Passing"] = school_summary_df["% Overall Passing"].map("{:,.2f} %".format)


school_summary_df = school_summary_df.set_index("School Name")
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Huang High School,Government,"2,917","1,910,635",655,94,96,89.95 %,85.41 %,87.68 %
Figueroa High School,Government,"2,949","1,884,411",639,43,90,88.81 %,86.71 %,87.76 %
Shelton High School,Independent,"1,761","1,056,600",600,76,41,80.26 %,80.74 %,80.50 %
Hernandez High School,Government,"4,635","3,022,020",652,86,89,81.09 %,80.72 %,80.91 %
Griffin High School,Independent,"1,468","917,500",625,69,87,89.37 %,86.99 %,88.18 %
Wilson High School,Independent,"2,283","1,319,574",578,93,88,79.37 %,79.98 %,79.68 %
Cabrera High School,Independent,"1,858","1,081,356",582,60,73,88.29 %,86.65 %,87.47 %
Bailey High School,Government,"4,976","3,124,928",628,64,69,80.25 %,79.81 %,80.03 %
Holden High School,Independent,427,"248,087",581,66,94,80.30 %,80.53 %,80.41 %
Pena High School,Independent,962,"585,858",609,77,64,90.23 %,85.24 %,87.73 %
Wright High School,Independent,"1,800","1,049,400",583,66,50,89.17 %,85.62 %,87.40 %
Rodriguez High School,Government,"3,999","2,547,363",637,89,66,89.84 %,84.78 %,87.31 %
Johnson High School,Government,"4,761","3,094,650",650,81,76,81.83 %,80.80 %,81.31 %
Ford High School,Government,"2,739","1,763,916",644,88,73,80.73 %,79.89 %,80.31 %
Thomas High School,Independent,"1,635","1,043,130",638,79,80,90.50 %,84.50 %,87.50 %

# Top 5 performing schools by overall percentage of students passing

In [6]:
# Sorts and shows the top 5 "% Overall Passing" values
top_schools_overall = school_summary_df.sort_values(by="% Overall Passing", ascending=False)
top_schools_overall.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Griffin High School,Independent,"1,468","917,500",625,69,87,89.37 %,86.99 %,88.18 %
Figueroa High School,Government,"2,949","1,884,411",639,43,90,88.81 %,86.71 %,87.76 %
Pena High School,Independent,962,"585,858",609,77,64,90.23 %,85.24 %,87.73 %
Huang High School,Government,"2,917","1,910,635",655,94,96,89.95 %,85.41 %,87.68 %
Thomas High School,Independent,"1,635","1,043,130",638,79,80,90.50 %,84.50 %,87.50 %

These top five schools all have a high budget over $600 for each student. There seems to be some outliers for Figueroa high school which is bringing the average math score down.

# Bottom 5 performing schools by overall percentage of students passing

In [7]:
# Sorts and shows the bottom 5 "% Overall Passing" values
bottom_schools_overall = school_summary_df.sort_values(by="% Overall Passing", ascending=True)
bottom_schools_overall.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Name,,,,,,,,,
Wilson High School,Independent,"2,283","1,319,574",578,93,88,79.37 %,79.98 %,79.68 %
Bailey High School,Government,"4,976","3,124,928",628,64,69,80.25 %,79.81 %,80.03 %
Ford High School,Government,"2,739","1,763,916",644,88,73,80.73 %,79.89 %,80.31 %
Holden High School,Independent,427,"248,087",581,66,94,80.30 %,80.53 %,80.41 %
Shelton High School,Independent,"1,761","1,056,600",600,76,41,80.26 %,80.74 %,80.50 %

These bottom five schools have a range of budgets per student but the top three also have higher than average student populations.

# Results of maths and reading scores by grade

In [18]:
# Creating dataframes with booleans for each year and then dropping all data not associated with the year
# This block works on both Maths Scores and Reading Scores by year
year_9_bool = school_data_complete.assign(year_9 = school_data_complete["year"].eq(9))
year_9_bool = year_9_bool.drop(year_9_bool[year_9_bool["year_9"] == False].index)

year_10_bool = school_data_complete.assign(year_10 = school_data_complete["year"].eq(10))
year_10_bool = year_10_bool.drop(year_10_bool[year_10_bool["year_10"] == False].index)

year_11_bool = school_data_complete.assign(year_11 = school_data_complete["year"].eq(11))
year_11_bool = year_11_bool.drop(year_11_bool[year_11_bool["year_11"] == False].index)

year_12_bool = school_data_complete.assign(year_12 = school_data_complete["year"].eq(12))
year_12_bool = year_12_bool.drop(year_12_bool[year_12_bool["year_12"] == False].index)

### Maths scores by grade

In [9]:
# Creating a dataframe to store all the results
math_scores_df = pd.DataFrame({"School Name" : [], "Year 9" : [], "Year 10" : [], "Year 11" : [], "Year 12" : []})

# Adding data to math_scores_df
math_scores_df["School Name"] = school_data["school_name"]
math_scores_df["Year 9"] = year_9_bool.groupby("school_name")["maths_score"].mean().reset_index()["maths_score"]
math_scores_df["Year 10"] = year_10_bool.groupby("school_name")["maths_score"].mean().reset_index()["maths_score"]
math_scores_df["Year 11"] = year_11_bool.groupby("school_name")["maths_score"].mean().reset_index()["maths_score"]
math_scores_df["Year 12"] = year_12_bool.groupby("school_name")["maths_score"].mean().reset_index()["maths_score"]

# Formatting
math_scores_df["Year 9"] = math_scores_df["Year 9"].map("{:,.2f}".format)
math_scores_df["Year 10"] = math_scores_df["Year 10"].map("{:,.2f}".format)
math_scores_df["Year 11"] = math_scores_df["Year 11"].map("{:,.2f}".format)
math_scores_df["Year 12"] = math_scores_df["Year 12"].map("{:,.2f}".format)

math_scores_df = math_scores_df.set_index("School Name")
math_scores_df

                      Year 9 Year 10 Year 11 Year 12
School Name
Huang High School      72.49   71.90   72.37   72.68
Figueroa High School   72.32   72.44   71.01   70.60
Shelton High School    68.48   68.33   68.81   69.33
Hernandez High School  69.02   69.39   69.25   68.62
Griffin High School    72.79   71.09   71.69   71.47
Wilson High School     68.59   68.87   69.15   68.99
Cabrera High School    70.54   75.11   71.64   73.41
Bailey High School     69.08   68.53   69.43   68.64
Holden High School     69.47   67.99   68.64   69.29
Pena High School       72.00   72.40   72.52   71.19
Wright High School     71.94   71.78   72.36   72.15
Rodriguez High School  72.93   72.51   70.10   72.33
Johnson High School    69.23   70.06   69.66   69.37
Ford High School       69.21   69.46   68.38   69.79
Thomas High School     71.74   72.18   73.28   70.85

### Reading scores by grade

In [10]:
# Creating a dataframe to store all the results
reading_scores_df = pd.DataFrame({"School Name" : [], "Year 9" : [], "Year 10" : [], "Year 11" : [], "Year 12" : []})

# Adding data to reading_scores_df
reading_scores_df["School Name"] = school_data["school_name"]
reading_scores_df["Year 9"] = year_9_bool.groupby("school_name")["reading_score"].mean().reset_index()["reading_score"]
reading_scores_df["Year 10"] = year_10_bool.groupby("school_name")["reading_score"].mean().reset_index()["reading_score"]
reading_scores_df["Year 11"] = year_11_bool.groupby("school_name")["reading_score"].mean().reset_index()["reading_score"]
reading_scores_df["Year 12"] = year_12_bool.groupby("school_name")["reading_score"].mean().reset_index()["reading_score"]

# Formatting
reading_scores_df["Year 9"] = reading_scores_df["Year 9"].map("{:,.2f}".format)
reading_scores_df["Year 10"] = reading_scores_df["Year 10"].map("{:,.2f}".format)
reading_scores_df["Year 11"] = reading_scores_df["Year 11"].map("{:,.2f}".format)
reading_scores_df["Year 12"] = reading_scores_df["Year 12"].map("{:,.2f}".format)

reading_scores_df = reading_scores_df.set_index("School Name")
reading_scores_df

                      Year 9 Year 10 Year 11 Year 12
School Name
Huang High School      70.90   70.85   70.32   72.20
Figueroa High School   71.17   71.33   71.20   71.86
Shelton High School    70.26   67.68   69.15   69.08
Hernandez High School  69.62   68.99   70.74   68.85
Griffin High School    72.03   70.75   72.39   69.43
Wilson High School     68.48   70.62   68.42   69.24
Cabrera High School    71.60   71.10   73.31   70.48
Bailey High School     68.67   69.52   68.74   68.67
Holden High School     68.72   69.30   69.97   67.99
Pena High School       70.95   72.32   71.70   71.51
Wright High School     70.90   70.14   71.42   71.41
Rodriguez High School  70.72   69.88   71.15   69.07
Johnson High School    69.67   69.74   70.75   68.73
Ford High School       68.68   68.41   68.80   69.89
Thomas High School     71.82   71.39   70.48   69.82

# Scores by school spending

In [35]:
# Creating a dataframe for school spending
# Intentionally missing the "Spending Ranges (Per Student)" as it will be added below in a new dataframe
scores_by_spending = pd.DataFrame({"Average Maths Score" : [], "Average Reading Score" : [], "% Passing Maths" : [], "% Passing Reading" : [], "% Overall Passing" : []})

# Creating a bin and ranges for spending
spending_ranges = ["<$585", "$585-630", "$630-645", "$645-680"]
spending_bins = [0, 585, 630, 645, 680]

# Cutting the original school_data_complete dataframe into the spending bins and then creating a new dataframe based off that
school_data_complete["Spending Ranges (Per Student)"] = pd.cut(school_data["budget"] / school_data["size"],
                                                               spending_bins, labels = spending_ranges, include_lowest = True)
grouped_spending = school_data_complete.groupby("Spending Ranges (Per Student)")

# Calculating the means of the average maths and reading scores
average_math_spending = grouped_spending['maths_score'].mean()
average_reading_spending = grouped_spending['reading_score'].mean()

# Calculating the percentages
# Using an apply function to the overall percentage as it was more efficient than the assign function
percent_passing_math_spending = grouped_spending['maths_score'].apply(lambda x: (x >= 50).mean()) * 100
percent_passing_reading_spending = grouped_spending['reading_score'].apply(lambda x: (x >= 50).mean()) * 100
percent_overall_passing_spending = grouped_spending.apply(lambda x: ((x['maths_score'] >= 50) & (x['reading_score'] >= 50)).mean() * 100)

# Moving the calculated values into the scores_by_spending dataframe
scores_by_spending["Average Maths Score"] = average_math_spending
scores_by_spending["Average Reading Score"] = average_reading_spending
scores_by_spending["% Passing Maths"] = percent_passing_math_spending
scores_by_spending["% Passing Reading"] = percent_passing_reading_spending
scores_by_spending["% Overall Passing"] = percent_overall_passing_spending


scores_by_spending

C:\Users\Jasper\AppData\Local\Temp\ipykernel_20100\3717383102.py:12: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_spending = school_data_complete.groupby("Spending Ranges (Per Student)")

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.25,76.25,100.0,100.0,100.0
$585-630,71.50,65.25,100.0,75.0,75.0
$630-645,74.75,77.25,75.0,100.0,75.0
$645-680,87.00,87.00,100.0,100.0,100.0

We can see from this that a budget of $585-645 has a negative impact on students passing tests. Having a per student budget above $645 brings up the average scores, meaning that less students will become outliers.

# Scores by school size

In [32]:
# Creating a dataframe for school spending
# Intentionally missing the "School Size" as it will be added below in a new dataframe
scores_by_size = pd.DataFrame({"Average Maths Score" : [], "Average Reading Score" : [], "% Passing Maths" : [], "% Passing Reading" : [], "% Overall Passing" : []})

# Creating a bin and ranges for size
size_ranges = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Cutting the original school_data_complete dataframe into the spending bins and then creating a new dataframe based off that
size_bins = [0, 1000, 2000, 5000]
school_data_complete["School Size"] = pd.cut(school_data["size"], size_bins, labels=size_ranges, include_lowest=True)
grouped_size = school_data_complete.groupby("School Size")

# Calculating the means of the average maths and reading scores
average_math_size = grouped_size['maths_score'].mean()
average_reading_size = grouped_size['reading_score'].mean()

# Calculating the percentages
# Using an apply function to the overall percentage as it was more efficient than the assign function
percent_passing_math_size = grouped_size['maths_score'].apply(lambda x: (x >= 50).mean()) * 100
percent_passing_reading_size = grouped_size['reading_score'].apply(lambda x: (x >= 50).mean()) * 100
percent_overall_passing_size = grouped_size.apply(lambda x: ((x['maths_score'] >= 50) & (x['reading_score'] >= 50)).mean() * 100)

# Moving the calculated values into the scores_by_size dataframe
scores_by_size["Average Maths Score"] = average_math_size
scores_by_size["Average Reading Score"] = average_reading_size
scores_by_size["% Passing Maths"] = percent_passing_math_size
scores_by_size["% Passing Reading"] = percent_passing_reading_size
scores_by_size["% Overall Passing"] = percent_overall_passing_size

scores_by_size

C:\Users\Jasper\AppData\Local\Temp\ipykernel_20100\1582316025.py:11: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_size = school_data_complete.groupby("School Size")

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),71.50,79.000,100.0,100.0,100.0
Medium (1000-2000),70.00,66.200,100.0,80.0,80.0
Large (2000-5000),79.75,80.875,87.5,100.0,87.5

We can see from this that smaller school sizes allow for students to get more one on one time and perform better overall.

# Scores by the type of school

In [26]:
# Creating a dataframe for school spending
# Intentionally missing the "Spending Ranges (Per Student)" as it will be added below in a new dataframe
# There is no need to create bins for this dataset as the types are already in a column
scores_by_type = pd.DataFrame({"Average Maths Score" : [], "Average Reading Score" : [], "% Passing Maths" : [], "% Passing Reading" : [], "% Overall Passing" : []})

# Grouping a new dataframe by type
type_ranges = ["Government", "Independent"]
grouped_type = school_data_complete.groupby("type")

# Calculating the means of the average maths and reading scores
average_math_type = grouped_type['maths_score'].mean()
average_reading_type = grouped_type['reading_score'].mean()

# Calculating the percentages
# Using an apply function to the overall percentage as it was more efficient than the assign function
percent_passing_math_type = grouped_type['maths_score'].apply(lambda x: (x >= 50).mean()) * 100
percent_passing_reading_type = grouped_type['reading_score'].apply(lambda x: (x >= 50).mean()) * 100
percent_overall_passing_type = grouped_type.apply(lambda x: ((x['maths_score'] >= 50) & (x['reading_score'] >= 50)).mean() * 100)

# Moving the calculated values into the scores_by_type dataframe
scores_by_type["Average Maths Score"] = average_math_type
scores_by_type["Average Reading Score"] = average_reading_type
scores_by_type["% Passing Maths"] = percent_passing_math_type
scores_by_type["% Passing Reading"] = percent_passing_reading_type
scores_by_type["% Overall Passing"] = percent_overall_passing_type

scores_by_type

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
type,,,,,
Government,69.990399,69.753485,84.886566,83.818950,71.267052
Independent,71.107594,70.481548,88.715762,85.771691,76.217812

We can see that students at Independent schools are better on average in passing reading and maths tests.